---
import { ModeToggle } from "./modetoggle";
import { Image } from "astro:assets";
import Logo from "../../public/transpLogo.png"
import Name from "../../public/transpName.png"

---

<div class="flex flex-row justify-between items-center px-4 h-20">
    <div class="flex flex-row items-center justify-center">
        <a href="#main">
            <Image src={Logo} alt="Logo" class="w-16">
        </a>
        <Image src={Name} alt="Name" class="w-48 aspect-[39857/10000]">
    </div>
    <ul class="flex flex-row gap-2">
        <li><a href="#about">About</a></li>
    </ul>
    <ModeToggle client:load/>
</div>